In [1]:
import pandas as pd
    
data  = pd.read_excel('F:\X149\站距黏貼\L100-300.xlsx', None)

In [4]:
data.keys()

##iterate every excel worksheets
df_output = pd.DataFrame()
for e in data.keys():
    data1  = data[e]
    data1 = data1.columns.to_frame().T.append(data1, ignore_index=True)
    data1.columns = range(len(data1.columns))
    data1 = data1.loc[:, :2]
    data1.columns = ['編號', '站名', '實際距離']
    data1['Route'] = data1['編號'].values[0]
    data1 = data1.loc[2:]
    data1['編號_index'] = data1['編號']
    
    ##calculate cumsum distance
    df = pd.DataFrame()
    for i in data1['編號_index'].unique():
        for q in data1['編號'].unique():
            k = data1['實際距離'].iloc[i:q].tolist()
            p = data1['實際距離'].iloc[q:i].tolist()
            j1 = round(sum(float(t) for t in k), 1)
            j2 = round(sum(float(y) for y in p), 1)
            j = j1+j2
            df1 = pd.DataFrame({'seq_O': [i], 'seq_D': [q], 'distance_km':[j]})
            df = df.append(df1, ignore_index=True)
            #print(i, q, j)

    Distance_cal = df[(df['seq_O']<df['seq_D'])]

    ##merge data
    df2 = Distance_cal.merge(data1, left_on='seq_O', right_on='編號')
    df3 = df2[['Route', 'seq_O', '站名', 'seq_D', 'distance_km']]
    df3['nameZh_O'] = df3['站名'] 

    df4 = df3.merge(data1, left_on='seq_D', right_on='編號')
    df4['nameZh_D'] = df4['站名_y']
    df4['Route'] = df4['Route_x']  
    output = df4[['Route', 'seq_O', 'nameZh_O', 'seq_D', 'nameZh_D', 'distance_km']]
    output = output.sort_values(by =['seq_O', 'seq_D'])
    df_output = df_output.append(output, ignore_index=True)   
    print(e)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

L101
L102
L103
L105
L106
L107
L108
L109
L110
L111
L112_去
L112_回
L128
L113
L115
L116
L117
L118
L119
L120
L121
L201
L202
L203
L205
L206
L207
L208
L209
L210
L211
L212
L213
L215
L216
L217
L218
L301_去
L301_回
L302_去
L302_回
L303去
L303回
L305去
L305回
L306A_去
L306A_回
L306B去
L306B回
L307
L308
L309
L310
L311
L312
L313
L315去
L315回
L316去
L316回
L317
L318
L319
L320_去
L320_回
L321_去
L321_回
L322
L323
L325
L326
L327
L328

In [5]:
df_output.tail(5)
#df_output.to_csv('output.csv',index = False, encoding='utf_8_sig')

      Route seq_O nameZh_O seq_D nameZh_D  distance_km
86522  L328    16     自強國小    18     龜山國小        863.7
86523  L328    16     自強國小    19    龜山區公所       1181.4
86524  L328    17      覺海寺    18     龜山國小        531.0
86525  L328    17      覺海寺    19    龜山區公所        848.7
86526  L328    18     龜山國小    19    龜山區公所        317.7